/server/.vs
/server/.idea
/server/JiraAnalog.Api/obj
/server/JiraAnalog.Api/bin
/server/JiraAnalog.Core.Tests/obj
/server/JiraAnalog.Core.Tests/bin
/server/JiraAnalog.Core/obj
/server/JiraAnalog.Core/bin
/frontend/.next
/frontend/.idea
/frontend/node_modules